# Project Title: Property Usage
## Data cleansing for Addresses
## By Go Code CO team "Tech Slope" - Aaron, Adam, Dex, Juli, Leo, Marc
### Version 0.8
### Last update: May 5, 2019

In [0]:
## Initiating

import pandas as pd
import time
import numpy as np

### Task 1 Denver Address List
Ref: [City and County of Denver Addresses](https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-addresses)
(Note: Cannot use OpenAddress because it doesn't offer City and ZIP.)

In [0]:
## Loading
df_denadd = pd.read_csv('Address_Denver.csv',dtype={'NUMBER':str,'UNIT':str})
df_denadd.head(5)

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-105.005527,39.739472,1493,N Osage St,Apt 434,NaN,NaN,NaN,NaN,NaN,518b276ea7e17b7f
1,-105.006164,39.739467,1493,N Osage St,Apt 444,NaN,NaN,NaN,NaN,NaN,359d5431448827fd
2,-105.005518,39.738827,1493,N Osage St,Apt 573,NaN,NaN,NaN,NaN,NaN,a3d80fc19a7cd080
3,-105.005936,39.739062,1493,N Osage St,Apt 161,NaN,NaN,NaN,NaN,NaN,cbac04ef7bc6fc0f
4,-105.043347,39.766973,3611,N Stuart St,Spc 1,NaN,NaN,NaN,NaN,NaN,9c9e9a6b1644737f
5,-104.983247,39.746081,322,E 19th Ave,NaN,NaN,NaN,NaN,NaN,NaN,c6d911550db71d9b
6,-104.875147,39.700937,9701,E Ohio Ave,NaN,NaN,NaN,NaN,NaN,NaN,e1e96d30e186321d
7,-105.019114,39.770657,3903,N Bryant St,NaN,NaN,NaN,NaN,NaN,NaN,d920c3389b3e6365
8,-104.944005,39.683023,1830,S Garfield St,NaN,NaN,NaN,NaN,NaN,NaN,38b4bc354637ea2c
9,-104.950433,39.767405,3621.0 1/2,N Steele St,NaN,NaN,NaN,NaN,NaN,NaN,82ee71a0f5cbcd3f

In [0]:
## Cleaning
### Drop unnecessary columns
df_denadd_clean=df_denadd[['LAT','LON','NUMBER','STREET','UNIT']]
df_denadd_clean['FullAddress']=df_denadd_clean['NUMBER']+' '+df_denadd_clean['STREET']
### Rename columns and fill in empty data
### Use the ZIP for Denver City Hall as a placeholder
df_denadd_clean['ZIP']='80202'
df_denadd_clean['City']='Denver'
df_denadd_clean['State']='CO'
df_denadd_clean=df_denadd_clean.rename(index=str, columns={'LAT':'Latitude','UNIT':'Unit',"LON": "Longitude",'NUMBER':'StreetNumber','STREET':'StreetName'})
df_denadd_clean.head()

,Latitude,Longitude,StreetNumber,StreetName,Unit,FullAddress,ZIP,City,State
0,39.739472,-105.005527,1493,N Osage St,Apt 434,1493 N Osage St,80202,Denver,CO
1,39.739467,-105.006164,1493,N Osage St,Apt 444,1493 N Osage St,80202,Denver,CO
2,39.738827,-105.005518,1493,N Osage St,Apt 573,1493 N Osage St,80202,Denver,CO
3,39.739062,-105.005936,1493,N Osage St,Apt 161,1493 N Osage St,80202,Denver,CO
4,39.766973,-105.043347,3611,N Stuart St,Spc 1,3611 N Stuart St,80202,Denver,CO

In [0]:
print(df_denadd_clean.tail(),'\n','---------','\n')
print('Shape of the current dataframe:',df_denadd_clean.shape,'\n')
print('Missing value counts:')
print(df_denadd_clean.shape[0]-df_denadd_clean.count())

         Latitude   Longitude StreetNumber     StreetName Unit  \
317847  39.735795 -104.915955         1236  N Krameria St  NaN
317848  39.736245 -104.914814         1260    N Leyden St  NaN
317849  39.729406 -105.012148          800   N Vallejo St  NaN
317850  39.776631 -105.044675         4463     W 44th Ave  NaN
317851  39.729572 -105.011869         2025      W 8th Ave  NaN

               FullAddress    ZIP    City State
317847  1236 N Krameria St  80202  Denver    CO
317848    1260 N Leyden St  80202  Denver    CO
317849    800 N Vallejo St  80202  Denver    CO
317850     4463 W 44th Ave  80202  Denver    CO
317851      2025 W 8th Ave  80202  Denver    CO
 ---------

Shape of the current dataframe: (317852, 9)

Missing value counts:
Latitude             0
Longitude            0
StreetNumber         0
StreetName           0
Unit            203104
FullAddress          0
ZIP                  0
City                 0
State                0
dtype: int64

### Task 2 Mesa Address List
Ref: [Open Address for Mesa County](http://results.openaddresses.io/sources/us/co/mesa)

In [0]:
## Loading
df_mesaadd = pd.read_csv('Address_Mesa.csv',dtype={'NUMBER':str,'UNIT':str,'POSTCODE':str})
df_mesaadd.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,-108.889763,38.523159,56500,HWY 141,NaN,GATEWAY,NaN,CO,81522,NaN,4d3a1b198dd6e051
1,-108.896495,38.534833,55002,HWY 141,NaN,GATEWAY,NaN,CO,81522,NaN,e6a3243bddfb0dd0
2,-108.838723,38.535193,34165,S 12 8/10 RD,NaN,WHITEWATER,NaN,CO,81527,NaN,c0a53a67b5f4174c
3,-108.567979,38.541657,30200,UNCOMPAHGRE DIVIDE RD,NaN,WHITEWATER,NaN,CO,815XX,NaN,2d4cc56488cfcefe
4,-108.921568,38.563368,52248,HWY 141,NaN,GATEWAY,NaN,CO,81522,NaN,b3092d3eda97c0b6

In [0]:
## Cleaning
### Drop unnecessary columns
#### No need for Unit number 
#### df_mesaadd['FullAddress']=df_mesaadd['NUMBER'].astype(str)+' '+df_mesaadd['STREET']+np.where(pd.isnull(df_mesaadd['UNIT']),'',' # '+df_mesaadd['UNIT'].astype(str))

df_mesaadd_clean=df_mesaadd[['LAT','LON','NUMBER','STREET','UNIT','CITY','REGION','POSTCODE']]
df_mesaadd_clean['FullAddress']=df_mesaadd_clean['NUMBER'].astype(str)+' '+df_mesaadd_clean['STREET']
### Rename columns
df_mesaadd_clean=df_mesaadd_clean.rename(index=str, columns={'LAT':'Latitude',"LON": "Longitude",'UNIT':'Unit','CITY':'City','NUMBER':'StreetNumber','STREET':'StreetName','REGION':'State','POSTCODE':'ZIP'})
df_mesaadd_clean.head()

In [0]:
print(df_mesaadd_clean.tail(),'\n','---------','\n')
print('Shape of the current dataframe:',df_mesaadd_clean.shape,'\n')
print('Missing value counts:')
print(df_mesaadd_clean.shape[0]-df_mesaadd_clean.count())

        Latitude   Longitude StreetNumber       StreetName Unit      City  \
86069  39.356364 -107.585212         2318  DIVIDE CREEK RD  NaN  COLLBRAN
86070  39.359693 -107.678560        75239        E HWY 330  NaN  COLLBRAN
86071  39.361212 -107.588424        24550  DIVIDE CREEK RD  NaN  COLLBRAN
86072  39.364550 -107.643852        75988        E HWY 330  NaN  COLLBRAN
86073  39.365940 -107.646237        75995        E HWY 330  NaN  COLLBRAN

      State    ZIP            FullAddress
86069    CO  816XX   2318 DIVIDE CREEK RD
86070    CO  816XX        75239 E HWY 330
86071    CO  816XX  24550 DIVIDE CREEK RD
86072    CO  816XX        75988 E HWY 330
86073    CO  816XX        75995 E HWY 330
 ---------

Shape of the current dataframe: (86074, 9)

Missing value counts:
Latitude            0
Longitude           0
StreetNumber        0
StreetName          0
Unit            60935
City                0
State               0
ZIP                 0
FullAddress         0
dtype: int64

### Task 3 Combine datasets

In [0]:
df_add_clean=pd.concat([df_denadd_clean,df_mesaadd_clean])
print(df_add_clean.tail(),'\n')
print('Shape of the current dataframe:',df_add_clean.shape)

           City            FullAddress   Latitude   Longitude State  \
86069  COLLBRAN   2318 DIVIDE CREEK RD  39.356364 -107.585212    CO
86070  COLLBRAN        75239 E HWY 330  39.359693 -107.678560    CO
86071  COLLBRAN  24550 DIVIDE CREEK RD  39.361212 -107.588424    CO
86072  COLLBRAN        75988 E HWY 330  39.364550 -107.643852    CO
86073  COLLBRAN        75995 E HWY 330  39.365940 -107.646237    CO

            StreetName StreetNumber Unit    ZIP
86069  DIVIDE CREEK RD         2318  NaN  816XX
86070        E HWY 330        75239  NaN  816XX
86071  DIVIDE CREEK RD        24550  NaN  816XX
86072        E HWY 330        75988  NaN  816XX
86073        E HWY 330        75995  NaN  816XX

Shape of the current dataframe: (403926, 9)

In [0]:
## Save/Checkpoint
def write_checkpoint(df, dfname):
  filename=time.strftime("%Y%m%d-%H%M")+' '+ dfname+'.csv'
  df.to_csv(filename, index=False)
  return

def read_checkpoint(filename):
    return pd.read_csv(filename,index_col=0)
  
write_checkpoint(df_add_clean,'Address_Both_Cleaned')
write_checkpoint(df_mesaadd_clean,'Address_Cleaned')
write_checkpoint(df_denadd_clean,'Address_Denver_Cleaned')